/*COLOR SCHEME
https://www.color-hex.com/color/0b2133 - DARK BLUE(heavy text) - #0b2133
https://www.color-hex.com/color/859099 - dark gray(medium text) - #859099
https://www.color-hex.com/color/b5bcc1 - medium gray(medium text shadow) - #b5bcc1
https://www.color-hex.com/color/f7f8f8 - almost white(item bg) - #f7f8f8
https://www.color-hex.com/color/ff7808 - highlight orange - #ff7808

FONTS: https://fonts.google.com/specimen/Lato

responsive breakpoints: 600px, 768px, 992px
min-width= this width or more, do this
max-width= this width or less, do this

**768px size for section reorg.; All section titles to 1.8em

@media only screen and (max-width: 600px) {
  div {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  div {
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  div {
    font-size: 30px;
  }
}

normal css ~ 1280

FLEXBOX TRICKS
https://www.w3schools.com/css/css3_flexbox.asp
https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties/33856609#33856609
*/

/*GENERAL STYLES*/
.App {
  z-index: 10;
  font-size: 26px;
  background: #859099;
  cursor: default;
}

.highlight-orange {
  font-family: Lato;
  font-stretch: expanded;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #ff7808;
  text-shadow: 1px 1px 1px #0b2133;
}

.highlight-blue {
  font-family: Lato;
  font-stretch: expanded;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #0b2133;
  text-shadow: 1px 1px 1px #0b2133;
}

.heavy {
  font-family: Lato;
  font-stretch: expanded;
  font-weight: 900;
  font-size: 1.8em;
  letter-spacing: 0.8px;
}

.blue {
  color: #0b2133;
}

.section-title {
  font-size: 2.4em;
}

/*PRELOAD*/
#preload {
  display: none;
}
